html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    font-family: 'Helvetica Neue';  
}

.page {
    position: relative;
}

.bgimg {
    background-attachment: fixed;
    background-image: url('../assets/FrontPage/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 120vh;
    object-fit: cover;
    z-index: 1;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: fadeout 3s ; /* Chrome, Safari, Opera */
    animation: fadeout 3s ;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
  }

/* Standard syntax */
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.main-white {
    color: #C5C5C5;
}

.second-grey {
    color: #767676;
}

.third-dark {
    color: #161616;
}

.content {
    height: 100vh;
    padding: 4em 0 0 4em;
    position: absolute;
    z-index: 100;
}

.title {
    font-size: 4em;
    font-style: italic;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.section {
    margin-top: 1em;
}

.subtitle {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
}

.sublink a {
    display: block;
    font-size: 2em;
    font-weight: 700;
    margin: 0 0 0 0.8em;
    text-decoration: none;
}

.contact {
    font-size: 2em;
    font-weight: 700;
    margin: 2em 0;
    object-fit: cover;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 6em 0 2em 0;
    width: 90vw;
}